In [37]:
i=1
while i<=10:
    print(i)
    i+=1
    if i==5:
        continue

1
2
3
4
5
6
7
8
9
10

In [34]:
i=1
while i<=10:
    print(i)
    i+=10

1

In [33]:
#while

i=1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [26]:
lst=[1,2,3,4,5]
lst1=[]
for i in lst:
    lst1.append(i**2)
    print(lst1)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]

In [ ]:
for i in range(1,10):
    pass

9

In [18]:
for i in range(1,10):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [17]:
for i in range(1,10):
    if i==5:
        break
    print(i)

1
2
3
4

In [16]:
lst1=[1,2,3]
lst2=["name","age","id"]
for i in lst1:
    for j in lst2:
        print(i,j)
        print("-------")

1 name
-------
1 age
-------
1 id
-------
2 name
-------
2 age
-------
2 id
-------
3 name
-------
3 age
-------
3 id
-------

In [15]:
lst1=[1,2,3]
lst2=["red","green","blue"]
for i in lst1:
    for j in lst2:
        print(i,j)
        print("-------")

1 red
-------
1 green
-------
1 blue
-------
2 red
-------
2 green
-------
2 blue
-------
3 red
-------
3 green
-------
3 blue
-------

In [14]:
for i in range(2,12,2):
    print(i)

2
4
6
8
10

In [13]:

a={
    "a":"10",
    "b":"20",
    "c":"30",
}
for i in a.items():
    print(i)

('a', '10')
('b', '20')
('c', '30')

In [1]:
a={
    "a":"Er.somya",
    "b":"Er.sujal",
    "c":"Er.tanishq",
}
for i in a:
    print(i,a[i])

a Er.somya
b Er.sujal
c Er.tanishq

In [5]:
for i in "hello":
    print(i,end=" ")
    #print(i)

h e l l o

In [2]:
lst=["red","green","blue","yello"]
for i in lst:
    print(i)

red
green
blue
yello

In [1]:
#string

for i in "hello":
    print(i)

h
e
l
l
o

In [ ]:
#loops ----> for and while loop
#for loop --- iterating over a sequence (list,tupple,dict,string)