In [1]:
import numpy as np
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("cust_satisfaction.csv")
df.head()

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,Loyal Customer,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,Female,Loyal Customer,Business travel,Business,satisfied,26,1142,5,4,5,0,0.0
3,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,Male,Loyal Customer,Business travel,Business,satisfied,61,214,3,4,3,0,0.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Gender                      103904 non-null  object
 1   Customer Type               103904 non-null  object
 2   Type of Travel              103904 non-null  object
 3   Class                       103904 non-null  object
 4   satisfaction                103904 non-null  object
 5   Age                         103904 non-null  int64
 6   Flight Distance             103904 non-null  int64
 7   Inflight entertainment      103904 non-null  int64
 8   Baggage handling            103904 non-null  int64
 9   Cleanliness                 103904 non-null  int64
 10  Departure Delay in Minutes  103904 non-null  int64
 11  Arrival Delay in Minutes    103594 non-null  float64
dtypes: float64(1), int64(6), object(5)
memory usage: 9.5+ MB

In [4]:
df.isnull().sum()

Gender                          0
Customer Type                   0
Type of Travel                  0
Class                           0
satisfaction                    0
Age                             0
Flight Distance                 0
Inflight entertainment          0
Baggage handling                0
Cleanliness                     0
Departure Delay in Minutes      0
Arrival Delay in Minutes      310
dtype: int64

In [5]:
df.dropna(inplace=True)
df.isnull().sum()

Gender                        0
Customer Type                 0
Type of Travel                0
Class                         0
satisfaction                  0
Age                           0
Flight Distance               0
Inflight entertainment        0
Baggage handling              0
Cleanliness                   0
Departure Delay in Minutes    0
Arrival Delay in Minutes      0
dtype: int64

In [6]:
df.duplicated().sum()
df.drop_duplicates(inplace=True)

In [7]:
df["Customer Type"].value_counts()

Customer Type
Loyal Customer       84517
disloyal Customer    18905
Name: count, dtype: int64

In [8]:
loyal_customer=df[df["Customer Type"]=="Loyal Customer"]
disloyal_customer=df[df["Customer Type"]=="disloyal Customer"]

In [9]:
loyal_customer=loyal_customer.sample(20000)
loyal_customer.shape

(20000, 12)

In [10]:
balance_df=pd.concat([loyal_customer,disloyal_customer],axis=0)
balance_df.shape

(38905, 12)

In [11]:
cat_col=balance_df.select_dtypes(include=["object"])
cat_col.head()

,Gender,Customer Type,Type of Travel,Class,satisfaction
74678,Male,Loyal Customer,Business travel,Business,satisfied
52630,Female,Loyal Customer,Personal Travel,Eco,neutral or dissatisfied
80851,Male,Loyal Customer,Business travel,Business,neutral or dissatisfied
13951,Male,Loyal Customer,Business travel,Business,satisfied
10713,Male,Loyal Customer,Personal Travel,Eco,neutral or dissatisfied

In [12]:
pd.get_dummies(cat_col,drop_first=True).astype(int).head()

,Gender_Male,Customer Type_disloyal Customer,Type of Travel_Personal Travel,Class_Eco,Class_Eco Plus,satisfaction_satisfied
74678,1,0,0,0,0,1
52630,0,0,1,1,0,0
80851,1,0,0,0,0,0
13951,1,0,0,0,0,1
10713,1,0,1,1,0,0

In [13]:
num_col=balance_df.select_dtypes(exclude='object')
num_col.head()

,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
74678,53,1014,4,4,5,4,13.0
52630,70,1562,1,1,5,35,24.0
80851,49,1652,1,1,4,21,5.0
13951,55,2222,4,3,5,0,0.0
10713,19,349,4,4,4,5,4.0

In [14]:
pd.get_dummies(balance_df["Customer Type"],drop_first=True).astype(int).head()

       disloyal Customer
74678                  0
52630                  0
80851                  0
13951                  0
10713                  0

In [15]:
pd.get_dummies(balance_df["Customer Type"]).astype(int).head()

       Loyal Customer  disloyal Customer
74678               1                  0
52630               1                  0
80851               1                  0
13951               1                  0
10713               1                  0

In [16]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
ohe=OneHotEncoder(drop="if_binary")
cat_col_encoded= ohe.fit_transform(cat_col).toarray()
cat_col_encoded

array([[1., 0., 0., ..., 0., 0., 1.],
       [0., 0., 1., ..., 1., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 1., 0., ..., 1., 0., 0.],
       [1., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 1., 0., 0.]])

In [17]:
column_name =list(ohe.get_feature_names_out())
column_name

['Gender_Male',
 'Customer Type_disloyal Customer',
 'Type of Travel_Personal Travel',
 'Class_Business',
 'Class_Eco',
 'Class_Eco Plus',
 'satisfaction_satisfied']

In [18]:
one_hot=pd.DataFrame(cat_col_encoded,columns=column_name)
one_hot.head()

,Gender_Male,Customer Type_disloyal Customer,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus,satisfaction_satisfied
0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
1,0.0,0.0,1.0,0.0,1.0,0.0,0.0
2,1.0,0.0,0.0,1.0,0.0,0.0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0
4,1.0,0.0,1.0,0.0,1.0,0.0,0.0

In [19]:
one_hot=one_hot.reset_index(drop=True)
num_col=num_col.reset_index(drop=True)
final_df=pd.concat([one_hot,num_col], axis=1)
final_df.head()

,Gender_Male,Customer Type_disloyal Customer,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus,satisfaction_satisfied,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,53,1014,4,4,5,4,13.0
1,0.0,0.0,1.0,0.0,1.0,0.0,0.0,70,1562,1,1,5,35,24.0
2,1.0,0.0,0.0,1.0,0.0,0.0,0.0,49,1652,1,1,4,21,5.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,55,2222,4,3,5,0,0.0
4,1.0,0.0,1.0,0.0,1.0,0.0,0.0,19,349,4,4,4,5,4.0

In [20]:
x = final_df.drop("satisfaction_satisfied", axis=1)
y = final_df["satisfaction_satisfied"]

In [21]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [22]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train_scaled = sc.fit_transform(x_train)
x_test_scaled = sc.transform(x_test)

In [23]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [24]:
x_train.shape[1]

13

In [28]:
model = Sequential()

model.add(Dense(68, activation='relu', input_dim=(x_train_scaled.shape[1])))
# hidden layers
model.add(Dense(32, activation='relu'))
model.add(Dense(24, activation='relu'))
model.add(Dense(12, activation='relu'))
# output layer 
model.add(Dense(1, activation='sigmoid'))
# model compile 
model.compile(optimizer="adam",
              loss="binary_crossentropy",
              metrics=["accuracy"])
model.summary()

Model: "sequential_3"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 68)             │           952 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,208 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 24)             │           792 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_6 (Dense)                 │ (None, 12)             │           300 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_7 (Dense)                 │ (None, 1)              │            13 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 4,265 (16.66 KB)

 Trainable params: 4,265 (16.66 KB)

 Non-trainable params: 0 (0.00 B)

In [29]:
(13+1)* 68

(68+1) *32

2208

In [30]:
history = model.fit(x_train_scaled, y_train, epochs=10, validation_data=(x_test_scaled, y_test))

Epoch 1/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.8053 - loss: 0.4456 - val_accuracy: 0.8481 - val_loss: 0.3766
Epoch 2/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.8439 - loss: 0.3782 - val_accuracy: 0.8478 - val_loss: 0.3635
Epoch 3/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.8469 - loss: 0.3661 - val_accuracy: 0.8468 - val_loss: 0.3617
Epoch 4/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8510 - loss: 0.3542 - val_accuracy: 0.8504 - val_loss: 0.3573
Epoch 5/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.8446 - loss: 0.3626 - val_accuracy: 0.8473 - val_loss: 0.3567
Epoch 6/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.8489 - loss: 0.3529 - val_accuracy: 0.8453 - val_loss: 0.3550
Epoch 7/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.8547 - loss: 0.3445 - val_accuracy: 0.8513 - val_loss: 0.3609
Epoch 8/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8515 - loss: 0.3487 - val_accuracy: 0.8509 - val_loss: 0.3561
Epoch 9/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8537 - loss: 0.3426 - val_accuracy: 0.8496 - val_loss: 0.3514
Epoch 10/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8529 - loss: 0.3458 - val_accuracy: 0.8513 - val_loss: 0.3499

In [31]:
y_pred = model.predict(x_test_scaled)
prediction_label = (y_pred > 0.5).astype(int).ravel()
prediction_label

244/244 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step

array([1, 0, 1, ..., 0, 0, 1])

In [32]:
model.save("model_classification.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [33]:
from tensorflow.keras.models import load_model
model_load = load_model("model_classification.h5")

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.